.text-introduction {
  font-size: 1.2rem;
  margin-bottom: 12px;
  line-height: 1.6;
  text-align: justify;
  color: #f1f1f1;
  margin: 0 auto;
  padding: 0 1rem;
 }
.Codepythonspan{
    color: #236533;
}
.equipe{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 100%
    gap: 1.2rem;
    margin: 0 auto;
    padding: 0 1rem;
    }

.links{
    display: flex;
    flex-direction: columns;
}

.linkindex{

    text-decoration: none;
    transition: 2s all
    color: white;
    margin: 0 auto;
  padding: 0 1rem;
}
.linkindex:hover{
  color: #236533;
}
.code{
    background-color: black;
    margin: 0 auto;
    padding: 0 1rem;
    width: 50%
}