{% extends "modelo.html" %}

{% block conteudo %}
<div class="cabecalho">
    <img src="{{ url_for('static', filename='messias.jpg') }}" class="foto-perfil">
    <h1>Usuário</h1>
    <p class="sub-titulo"><i>Aluno Python</i></p>
</div>

<section id="sobre" class="sobre">
    <h2 class="sobre-titulo">Sobre mim</h2>
    <div class="sobre-caixa">
        <p class="sobre-paragrafo">
            Bem-vindo à sua página de usuário. Aqui você pode visualizar e atualizar informações do seu perfil.
        </p>
        <form method="POST" class="conta-form">
        <textarea name="pergunta" rows="3" placeholder="Digite sua pergunta..." class="conta-textarea"></textarea
      </form>
    </div>
</section>
{% endblock %}
