{% extends  "modelo.html" %}

{% block conteudo %}

    <h2>Conheça nossa <span>equipe</span> de profissionais</h2>
    <div class="equipe">
         <article class="team-member">
                <h4>Gabriel Gonçalves</h4>
                <a href="https://instagram.com"target="_blank"><i class="fa-brands fa-instagram"></i>Instagram</a>
                <a href="https://twitter.com"target="_blank"><i class="fa-brands fa-twitter"></i>Twitter</a>
                <a href="https://youtube.com"target="_blank"><i class="fa-brands fa-youtube"></i>Youtube</a>
                <a href="https://linkedin.com"target="_blank"><i class="fa-brands fa-linkedin"></i>Linkedin</a>
         </article>
         <article class="team-member">
                <h4>Denise</h4>
                <a href="https://instagram.com"target="_blank"><i class="fa-brands fa-instagram"></i>Instagram</a>
                <a href="https://twitter.com"target="_blank"><i class="fa-brands fa-twitter"></i>Twitter</a>
                <a href="https://youtube.com"target="_blank"><i class="fa-brands fa-youtube"></i>Youtube</a>
                <a href="https://linkedin.com"target="_blank"><i class="fa-brands fa-linkedin"></i>Linkedin</a>
         </article>
         <article class="team-member">
                <h4>Guilherme Rodrigues</h4>
                <a href="https://instagram.com"target="_blank"><i class="fa-brands fa-instagram"></i>Instagram</a>
                <a href="https://twitter.com"target="_blank"><i class="fa-brands fa-twitter"></i>Twitter</a>
                <a href="https://youtube.com"target="_blank"><i class="fa-brands fa-youtube"></i>Youtube</a>
                <a href="https://linkedin.com"target="_blank"><i class="fa-brands fa-linkedin"></i>Linkedin</a>
         </article>
          <article class="team-member">
                <h4>Suedsson</h4>
                <a href="https://instagram.com"target="_blank"><i class="fa-brands fa-instagram"></i>Instagram</a>
                <a href="https://twitter.com"target="_blank"><i class="fa-brands fa-twitter"></i>Twitter</a>
                <a href="https://youtube.com"target="_blank"><i class="fa-brands fa-youtube"></i>Youtube</a>
                <a href="https://linkedin.com"target="_blank"><i class="fa-brands fa-linkedin"></i>Linkedin</a>
          </article>
</div>
{% endblock %}